<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangb.family.doctor.dao.ReimbYlCardDao">

    <resultMap id="baseMap" type="com.zhangb.family.doctor.entity.ReimbYlCard">
        <result column="oid" property="oid"/>
        <result column="yl_card" jdbcType="VARCHAR" property="ylCard"/>
        <result column="master_name" jdbcType="VARCHAR" property="masterName"/>
        <result column="created_date" property="createdDate"/>
    </resultMap>
    
    <sql id="where_sql">
        where 1=1
        <if test="ylCard!=null and ylCard != ''">
            and  yl_card = #{ylCard}
        </if>
        <if test="masterName!=null and masterName != ''">
            and master_name = #{masterName}
        </if>
    </sql>

    <select id="getAllYlCard" resultMap="baseMap" parameterType="com.zhangb.family.doctor.dto.YlCardDTO">
        select oid,yl_card,master_name,created_date
         from tool_yl_card_t
        <include refid="where_sql"></include>
        order by created_date desc
    </select>

</mapper>